server:
  host: 0.0.0.0
  port: 16648
  # debug: True
  enable_basic_auth: False
  basic_auth:
    iris_twilio_user: 'barbaz'
  # lb_routing_path: '/iris-relay'
twilio:
  remote_host: 'localhost:11648'
  auth_token: 'foobar'
slack:
  verification_token: 'foo'
  response_text: 'Alert claimed.'
iris:
  host: 'localhost'
  port: 16649
  api_key: 'foo'
  hook:
    gmail: 'response/gmail'
    gmail_one_click: 'response/gmail-oneclick'
    twilio_calls: 'response/twilio/calls'
    twilio_messages: 'response/twilio/messages'
    twilio_status: 'twilio/deliveryupdate'
    slack: 'response/slack'
gmail:
  project: iris-1234
  push_endpoint: https://www.fooo.bar/iris-relay/api/v0/gmail/relay
  scope:
    - https://mail.google.com/
    - https://www.googleapis.com/auth/pubsub
  sub: iris@foo.bar
  topic: iris_gmail_push
  subscription: gmail
  creds: './configs/client_secret.apps.googleusercontent.com.json'
  var_dir: './var'
  verification_code: googleabcdefg.html
  token: lbbc1797daaaaaaavaa6d3f0aad45e66
gmail_one_click_url_key: 'foo'
healthcheck_path: /tmp/relay_health
