server:
  host: 0.0.0.0
  port: 16648
  # debug: True
  enable_basic_auth: False
  basic_auth:
    iris_twilio_user: 'barbaz'
  # lb_routing_path: '/iris-relay'
allow_origins_list:
 - http://localhost:8080
 - http://localhost:8100
 - http://localhost:35729
 - http://localhost
 - http://localhost/
auth_postprocessing_list:
 - dummy_item1
twilio:
  remote_host: 'localhost:11648'
  auth_token: 'foobar'
slack:
  verification_token: 'foo'
  response_text: 'Alert claimed.'
iris:
  relay_app_name: 'iris-relay'
  host: 'http://localhost:16649'
  api_key: 'foo'
  hook:
    gmail: 'response/gmail'
    gmail_one_click: 'response/gmail-oneclick'
    twilio_calls: 'response/twilio/calls'
    twilio_messages: 'response/twilio/messages'
    twilio_status: 'twilio/deliveryupdate'
    slack: 'response/slack'
oncall:
  relay_app_name: 'iris-relay'
  url: 'http://localhost:8080'
  api_key: 'foo'
iris-mobile:
  relay_app_name: 'iris-mobile'
  activated: True
  host: 'localhost'
  port: 16649
  api_key: 'foo'
  auth:
    time_window: 90
    access_ttl: 28800
    refresh_ttl: 604800
    redirect_url: 'http://localhost:7000'
    username_attr: sAMAccountName
    # Example key; change in production
    encrypt_key: iizL8s_AqSBwZO-xzJ0bFt_kMSg6A8OsTAMON2gqpII=
  oncall:
    activated: True
    url: 'http://localhost:8080'
    api_key: 'foo'
gmail:
  project: iris-1234
  push_endpoint: https://www.fooo.bar/iris-relay/api/v0/gmail/relay
  scope:
    - https://mail.google.com/
    - https://www.googleapis.com/auth/pubsub
  sub: iris@foo.bar
  topic: iris_gmail_push
  subscription: gmail
  creds: './configs/client_secret.apps.googleusercontent.com.json'
  var_dir: './var'
  verification_code: googleabcdefg.html
  token: lbbc1797daaaaaaavaa6d3f0aad45e66
gmail_one_click_url_key: 'foo'
healthcheck_path: /tmp/relay_health
db:
  conn:
    kwargs:
      scheme: mysql+pymysql
      user: root
      host: 127.0.0.1
      database: 'iris'
      charset: utf8
      echo: True
    str: "%(scheme)s://%(user)s@%(host)s/%(database)s?charset=%(charset)s"
  kwargs:
    pool_recycle: 3600

saml:
  metadata_url_for:
    idp: 'https://www.metadata.com'
  acs_format: 'http://host:16648/saml/sso/%s'
  https_acs_format: 'https://host/saml/sso/%s'
